.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px){
  .container {
    overflow-x: hidden;
  }
  
}
