.about {
    padding-top: 100px;
    height: 100%;
    background-color: black;
  }
 
  .family {
      max-width: 650px;
      max-height: 400px;
      width: 50%;
      margin-left: 0px;
      margin-top: 80px;
      border-radius: 20px;
      margin-right: 20px;
  }
.myphoto {
    width: 350px;
    height: 500px;
    margin-right: 2%;
    margin-left: 4%;
    margin-top: 50px;
    border-radius: 15px;
}
.about-para {
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    color: white;
    font-size: 40px;
}
.about-words {
    width: 60%;
    margin-right: 4%;
}
.bottom-words{
    margin-top: 30px;
    margin-right: 4%;
    width: 50%;
}

.hat {
    width: 400px;
    height: 500px;
    margin-bottom: 60px;
    border-radius: 15px;
    margin-top: 30px;
}
.super-bottom-words{
    width: 60%;
    margin-top: 100px;
    margin-right: 5%;
}

@media (max-width: 600px){
    .about-para {
        flex-direction: column;
    }
    .about-words {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .myphoto {
        width: 88%;
        margin-right: 2%;
        margin-top: 30px;
    }
    .family {
        order: 1;
        width: 96%;
        height: auto;
        margin-top: 30px;
    }

    .bottom-words {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
    }
    .super-bottom-words {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 50px;
    }
    .hat {
        width: 96%;
        margin-right: 2%;
    }
}