.about {
    padding-top: 100px;
    height: 100%;
    background-color: black;
  }
 
  .family {
      width: 650px;
      height: 400px;
      margin-left: 0px;
      margin-top: 80px;
      border-radius: 20px;
      margin-right: 20px;
  }
.myphoto {
    width: 350px;
    height: 500px;
    margin-right: 2%;
    margin-left: 4%;
    margin-top: 50px;
    border-radius: 15px;
}
.about-para {
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    color: white;
    font-size: 40px;
}
.about-words {
    width: 60%;
    margin-right: 4%;
}
.bottom-words{
    margin-top: 30px;
    margin-right: 4%;
    width: 50%;
}

.hat {
    width: 400px;
    height: 500px;
    margin-bottom: 60px;
    border-radius: 15px;
    margin-top: 30px;
}
.super-bottom-words{
    width: 60%;
    margin-top: 100px;
    margin-right: 5%;
}