.contact {
    padding-top: 200px;
    background-color: black;
    height: 100vh;
    margin: 0 auto;
}

.phone {
    font-size: 30px;
    margin: 0 auto;
    color: white;
    margin-bottom: 25px;
}

.email {
    font-size: 30px;
    margin: 0 auto;
    color: white;
}


.contact-box {
    margin: 0 auto;
}


.twitter {
   font-size: 30px;
}

.linkedin {
    font-size: 30px;
}

.github {
    font-size: 30px;
    margin: 0 auto;
}

.contact-title {
    margin: 20px auto;
}

.social {
    font-size: 30px;
}


@media (max-height: 600px){
    .contact {
        height: 200vh;
    }
}

@media (max-width: 600px){ 
    .contact {
        overflow-x: hidden;
    }
    .phone {
        font-size: 16px;
        margin: 0;
        margin-bottom: 30px;
        text-align: left;
    }
    .email {
        font-size: 16px;
        margin-bottom: 30px;
        margin: 0;
        margin-bottom: 30px;
        text-align: left;
    }
    .box-contact {
        width: 96%;
        margin-left: 2%;
        height: auto;
        padding-right: 0;
        padding-bottom: 0;
    }
    .contact-box {
        width: 82%;
        height: auto;
        padding-right: 0;
        padding-bottom: 0;
        margin-left: 2%;
    }
    .twitter {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .linkedin {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .github {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .contact-title {
        width: auto;
    }
    .social {
        font-size: 16px;
    }
}