.contact {
    padding-top: 200px;
    height: 100vh;
}

.phone {
    font-size: 30px;
    margin: 0 auto;
    color: white;
    margin-bottom: 25px;
}

.email {
    font-size: 30px;
    margin: 0 auto;
    color: white;
}

.box-contact {
    width: 500px;
    height: 400px;
    /* background-color: blue; */
}

.contact-box {
    height: 350px;
    width: 500px;
    background-color: rgb(30,30,30);
    margin: 0 auto;
    padding: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    border: 3px solid #CBEF43;
}


.twitter {
   font-size: 30px;
}

.linkedin {
    font-size: 30px;
}

.github {
    font-size: 30px;
}

.contact-title {
    width: 200px;
    background-color:rgb(30,30,30);
    margin: 20px auto;
}

.social {
    font-size: 30px;
}