
.footer {
    height: 150px;
    background-color: black;
    display: flex;
}
.icons {
    height: 40px;
    margin-right: 30px;
}

.icons:first-child {
    margin-left: 80%;
}

.copy {
    color: white;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 16px;
    font-family: Avenir;
    font-style: heavy;
}

