.header {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 140px;
    position:fixed;
    background-color:#3D5A6C;
    margin-top: -20px;
}

  .first {
    margin-left: 20px;
  }
  
  a {
    margin-top: 70px;
    margin-bottom: 40px;
    /* color: #433A3f; */
    color: white;
    font-size: 22px;
    width: 80px;
    text-decoration: none;
    padding-bottom: 0;
    margin-right: 20px;
  }


  a:hover {
    transform: scale(1.1);
    color: #72A90F;
  }
  
  @media (max-width: 600px){
      .header {
          flex-direction: column;
          margin: 0 auto;
          height: auto;
          position: static;
      }
      a {
          margin: 20px auto;
          font-size: 36px;
          text-align: center;
      }
      .first {
        margin-left: 0;
      }
      
      
  }