.header {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 140px;
    position:fixed;
    background-color:#3D5A6C;
    margin-top: -20px;
  }
  
  .first {
    margin-left: 30%;
  }
  .last {
    margin-right: 10%;
  }
  a {
    margin-top: 70px;
    /* color: #433A3f; */
    color: white;
    font-size: 22px;
    width: 120px;
    text-decoration: none;
  }
  a:hover {
    font-size: 26px;
  }
  