.home {
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.pic {
    height: 650px;
    width: auto;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 8px;
}
.name {
    font-size: 70px;
    margin-top: 100px;
    color: white;
    margin-bottom: 0px;
}

.title {
    font-size: 35px;
    color: white;
    margin-left: 160px;
}

.name-title {
    width: 600px;
}

.pic-holder {
    height: 660px;
    width: 440px;
}

@media (max-height: 600px){
    .home {
        height: 200vh;
    }
}

@media (max-width: 600px){
    .home {
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
    }
    .pic {
        height: auto;
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -100px;
    }
    .name-title {
        width: auto;
        display: flex;
        flex-direction: column;
            
    }
    .name {
        font-size: 30px;
        margin-top: 40px;
        background-color: rgb(30,30,30);
        margin-left: auto;
        margin-right: auto;
    }
   
    .pic-holder {
        width: auto;
        height: auto;
    }
    .title {
        background-color: rgb(30,30,30);
        font-size: 30px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}