.home {
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.pic {
    height: 650px;
    width: auto;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 8px;
}
.name {
    font-size: 70px;
    margin-top: 100px;
    color: white;
    margin-bottom: 0px;
}

.title {
    font-size: 35px;
    color: white;
    margin-left: 160px;
}

.name-title {
    width: 600px;
}

.pic-holder {
    height: 660px;
    width: 440px;
}