.projects {
    padding-top: 200px;
    width: 100%;
    background-repeat: repeat-y;
    padding-bottom: 20px;
    background-image: `url(${../img/code-pro.png})`
}

h1 {
    color: white;
    text-align: center;
    height: 40px;
}

.db-img {
    height: 600px;
    width: auto;
}

p {
    color: white;
    width: 550px;
    line-height: 1.5;
}
.words {
    background-color: rgb(30,30,30);
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    border: 3px solid #CBEF43;
}

.dorothy {
    display: flex;
    justify-content: space-around;
}

.cloud-div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.cloud {
    width: 600px;
    height: auto;
}
.bunker-words {
    margin-top: 30px;
}

.didact-pic {
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 40px;
}

.didact-div{
    display: flex;
    margin-bottom: 50px;
}

.didact-words {
    margin-left: 40px;
    margin-top: 40px;
}
