.projects {
    /* padding-top: 150px; */
    width: 100%;
    background-repeat: repeat-y;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    padding-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    height: 40px;
}

.db-img {
    height: 600px;
    width: auto;
}

p {
    color: white;
    width: 550px;
    line-height: 1.5;
}
.words {
    background-color: black;
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 40px;
}

.dorothy {
    display: flex;
    justify-content: space-around;
}

.cloud-div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 100%;
}
.cloud {
    width: 600px;
    height: 450px;
}
.bunker-words {
    margin-top: 90px;
}

.didact-pic {
    width: 600px;
    height: 450px;
    margin-left: 20px;
    margin-top: 40px;
}

.didact-div{
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
}

.didact-words {
    margin-left: 40px;
    margin-top: 80px;
}

.tweet-words {
    margin-top: 60px;
    margin-left: 20px;
    padding-right: 0px;
}


.tweet {
    display: flex;
    margin-bottom: 70px;
}

.tweet-pic {
    width: 600px;
    height: auto;
    margin-left: 30px;
}

.project-heading{
    text-decoration: underline;
    text-align: left;
}
.role {
    color: white;
    margin-top: -10px;
}

@media (max-width: 600px){ 
    .project {
        overflow-x: hidden;
    }
    .dorothy {
        flex-direction: column;
    }

    .db-img {
        height: auto;
        width: 96%;
        margin-left: 2%;
    }
    p {
        width: 96%;
    }

    .words {
        margin-left: 2%;
        margin-right: 2%;
        order: 2;
    }
    .cloud-div {
        flex-direction: column;

    }
    .cloud {
        width: 96%;
        height: auto;
        margin-left: 2%;
        order: 1;
    }

    .bunker-words {
        margin-top: 40px;
    }

    .didact-pic {
        width: 96%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
    }

    .didact-div {
        flex-direction: column;
    }
    .didact-words {
        margin-top: 40px;
    }

    .tweet-words {
        margin-top: 40px;
        margin-left: 2%;
        width: 86%;
        padding-right: 0;
    }
    .tweet-pic {
        width: 96%;
        height: auto;
        margin-left: 2%;
    }
    .tweet {
        flex-direction: column;
    }
}