.skills {
    padding-top: 200px;
    width: 100%;
}

li {
    color: white;
    font-size: 26px;
    margin: 0 auto;
    line-height: 2;
    width: 30%;
}

.box {
    padding-top: 50px;
    background-color: #23443C;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
}
h1 {
    margin-bottom: 20px;
}

.row {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
}



@media (max-height: 600px){
    .skills {
        height: 200vh;
    }
}

@media (max-width: 600px){ 
    .skills {
        height: 210vh;
        overflow-x: hidden;
    }
    .li {
        margin-left: 2%;
    }
    .row {
        flex-direction: column;
    }
    .box {
        width: 95%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 150px;
        background: rgb(30,30,30);
    }
}